<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.title}}</title>
</head>
<body>
<h1>Welcome to douyin API!</h1>
<ul>
  <li>
    <a href="/douyin/feed/">/douyin/feed/</a>
  </li>
  <li>
    <a href="/douyin/user/">/douyin/user/</a>
  </li>
  <li>
    <a href="/douyin/publish/list/">/douyin/publish/list/</a>
  </li>
  <li>
    <a href="/douyin/favorite/list/?token=&user_id=5">/douyin/favorite/list/?token=aebcbd64128e45359e837b3998b95f49&user_id=5</a>
  </li>
</ul>
</body>
</html>
